#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
CONFIGURE_FLAGS := \
	--disable-silent-rules \
	--libdir=\$${prefix}/lib/$(DEB_HOST_MULTIARCH) \
	--enable-static \
	--enable-usb \
	--enable-tools \
	--enable-cups \
	--enable-datafiles \
	--enable-debug \
	--enable-library \
	--enable-monitor \
	--enable-udev \
	--enable-obex \
	--enable-client \
	--enable-systemd

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- $(CONFIGURE_FLAGS)
	sed 's/@DEB_HOST_MULTIARCH@/$(DEB_HOST_MULTIARCH)/g' \
		debian/bluez.links.in > debian/bluez.links

override_dh_installinit:
	dh_installinit --name=bluetooth -- start 25 2 3 4 5 . stop 74 0 1 6 .

override_dh_strip:
	dh_strip -a --dbg-package=bluez-dbg libbluetooth3-dbg
